body {
  padding: 0px;
  font: 16px "NotoSans", sans-serif;
}
.mt-10 {
  margin-top: 4rem;
}

a {
  color: #00b7ff;
}

h1 {
  font-family: "Yeseva One", cursive;
  font-weight: 700;
  /* padding-top: 4rem; */
  padding-bottom: 4rem;
  text-align: center;
  /* font-size: 4rem; */
}

h2 {
  font-family: "NotoSans", sans-serif;
  font-weight: 600;
  padding-bottom: 3rem;

}

.yeseva {
  font-family: "Yeseva One", cursive;
  font-weight: 700;
}


.home-header {
height: 50vh;
background-image: url("../images/header-image-home.webp");
background-position: center;
background-size: cover;


}
.recipe-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-image-container {
  width: 50%;
  height: 400px;
  margin: 0;
    margin-top:0;
    padding: 0;
}

.list-group {
  border-radius: 0;
}

.card-grid {
  /* padding: 8rem 6rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 30px;
}

.card {
  /* border: none; */
  background-color: rgb(255, 255, 255);
}

.card-body {
  padding: 2rem;
  color: white;
}

.card-img-top {
  height: 300px;
  width: auto;
  object-fit: cover;
}

.card-title {
  color: rgb(0, 0, 0);
  font-size: xx-large;
}

.card-text {
  font-weight: 200;
  color: rgb(0, 0, 0);
}

.card-links {
  padding-left: 16px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* main page carousel */
.carousel-inner {
  display: flex;
  justify-content: center;
  max-width: 40%;
  margin: 0 auto;
  
}

.carousel-item{
  max-width: 700px;  
  height: 500px;  
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
}

.single-recipe {
  border: 1px solid bisque;
  border-radius: 4px;
  margin-top: 4rem;
  padding: 0;
}

.recipe-header {
  background-color: beige;
  margin-bottom: 3rem;
}

.recipe-info {
  padding-left: 4rem;
  
}

.recipe-info h1{
  text-align: left;
}

.ingredients-list {
  border: 1px solid bisque;
  padding: 1rem 1rem 0 1rem;

}

.list-group-flush {
  padding-left: 0px;
}

.list-group-item {
  border-bottom: 1px dotted bisque;
  padding-bottom: 1rem;
  padding-top: 1rem;
 }

 .ingredient-lines {
   padding-left: 0;
   padding-right: 0;
 }
