<h1 class="mt-10">Create review for recipe: {{recipe.label}}</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <form action="/reviews/{{_id}}/review" method="POST">

        <div class="mb-3">
          <label for="comment" class="form-label">Your review</label>
          <input required type="text" class="form-control" id="comment" name="comment" />
        </div>

        <button type="submit" class="btn btn-sm btn-outline-dark">Create new
          review</button>

      </form>
      <a href="/community-recipes/{{_id}}" class="btn btn-sm btn-outline-dark">Go back</a>
    </div>
  </div>
</div>