<h1>Edit your review for recipe {{recipeName}}</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">

      <form action="/reviews/{{_id}}/edit-review" method="POST">

        <div class="mb-3">
          <label for="comment" class="form-label">Your review</label>
          <input
            required
            type="text"
            class="form-control"
            id="comment"
            name="comment"
            value="{{comment}}"
          />
        </div>

        <button type="submit" class="btn btn-sm btn-outline-dark">Save edited
          review</button>

      </form>

      <a href="/recipes" class="btn btn-sm btn-outline-dark">
        Go back to recipe
      </a>

    </div>
  </div>
</div>